html {
    font-size: 14px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    background-color: white;
    text-align: left;
    margin: 0;
    padding: 0;
}

header {
    height: 150px;
    border-bottom: 0.1px solid #e7ecf0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-left,
.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 75px
}

#search-area {
    display: inline-block;
    height: 40px;
    width: 600px;
    border-radius: 45px;
    border: 1px solid #d9d9d9;
}

#google-logo-div {
    height: 40px;
    width: 100px;
    margin: 40px 40px 25px 40px;
}

.google-logo {
    width: 100%;
    height: auto;
    align-self: center;
}


/* .header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 75px
} */