html {
    font-size: 14px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    background-color: white;
    text-align: left;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    height: 150px;
    border-bottom: 0.2px solid #e7ecf0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-left,
.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 75px;
}

#search-area {
    display: inline-block;
    height: 40px;
    width: 600px;
    border-radius: 45px;
    border: 1px solid #d9d9d9;
}

#search-area:hover {
    box-shadow: 1px 2px lightgrey;
}

#google-logo-div {
    height: 40px;
    width: 100px;
    margin: 40px 40px 25px 40px;
}

.google-logo {
    width: 100%;
    height: auto;
    align-self: center;
}

#google-services-div {
    height: 30px;
    width: 30px;
    padding: 0;
}

#google-services {
    width: 100%;
    height: auto;
}

#gmail-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #7F4AA2;
    color: white;
    font-weight: 900;
    text-align: center;
    border-radius: 50%;
    margin: 0 50px;
}

.gmail {
    height: auto;
    margin: 0 auto;
}

.search-area-icons {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    margin-left: -870px;
    margin-top: 20px;
}

#lower-menu p {
    display: inline-block;
    padding: 0 auto;
}

.menu-images {
    height: 20px;
    padding: 0 auto;
}

#lower-menu {
    position: absolute;
    top: 80px;
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
}